html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width:  100%;
}

@media print {
  html, body {

  }

  #map {
    height: 650px;
  }
}

nav {
position: absolute;
top: 10px;
left: 100px;
z-index: 999999;
background: white;
border:2px solid #a1a1a1;
border-radius:25px;
width: 130px;
padding-left: 15px;
}