html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width:  100%;
}

#refreshLocation {
  cursor: pointer;
}

@media print {
  html, body {

  }

  #map {
    height: 650px;
  }
}

nav {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 999999;
  background: white;
  border:1px solid #a1a1a1;
  border-radius:25px;
  width: 180px;
  height: 45px;
  padding-left: 15px;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

select {
  position:absolute;
  top:50%;
  margin-top:-10px;
}